@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #f0f0f0; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.active-vertical-nav {
  position: relative;
}
.active-vertical-nav::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 2px;
  height: 30px;
  transform: translateY(-50%);
  background-color: blue;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.trash-box {
  width: 50px;
  height: 50px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

/* Hover Effects */
.trash-box:hover .trash-top {
  transform: translate(-50%, -15%) rotate(-20deg);
}

.trash-box:hover .trash-btm {
  transform: translate(-50%, -100%) rotate(5deg);
}

.trash-box:hover .trash {
  top: 50%;
  transform: translate(-42%, -50%) rotate(35deg);
}

/* Trashcan Lid */
.trash-top {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  width: 80%;
  height: 15%;
  background: #95afc0; /* Replace with the actual color */
  border-radius: 5px;
  transform-origin: left bottom;
  transition: all 0.2s ease-in-out;
}

/* Lid's Top Detail */
.trash-top::before {
  content: "";
  position: absolute;
  bottom: 95%;
  left: 50%;
  transform: translate(-50%);
  width: 30%;
  height: 80%;
  background: inherit;
  border-radius: 5px 5px 0 0;
}

/* Trashcan Bottom */
.trash-btm {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 70%;
  height: 65%;
  background: #95afc0; /* Replace with the actual color */
  border-radius: 5px;
  transform-origin: left 70%;
  transition: all 0.2s ease-in-out;
}

/* Trashcan Lines */
.trash-btm .trash-lines {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: space-around; /* Or space-between */
}

/* Trashcan Line Elements */
.trash-btm .trash-lines .trash-line {
  width: 20%;
  height: 100%;
  background: #75838f; /* Darker shade of trashColor1 */
  border-radius: 3px;
}

/* Trash in the Can */
.trash {
  position: absolute;
  top: 80%;
  left: 38%;
  transform: translate(-38%, -80%) rotate(35deg);
  width: 40%;
  height: 40%;
  background: #dff9fb; /* Replace with the actual color */
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}

/* Second Trash (behind the first one) */
.trash::before {
  content: "";
  position: absolute;
  transform: translate(30%, -20%) rotate(25deg);
  width: 100%;
  height: 100%;
  background: #c1e7f1; /* Darker shade of trashColor3 */
  border-radius: 2px;
}
